
@import './variables.scss';
@import './nesting.scss';
@import './mixins';



body{
    margin: 0;
    background-color: #f0f0f0;
    overflow: overlay;
}


.grid-cards{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
}

.Productos{
    width: 100%;
    height: 60%;
}

.container{
    text-align: center;
    font-weight: 400;
    font-family: $text-secundario;
}

